<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<header>
<nav>
<a href="/jobs">Jobs Index</a>
|
<a href="/jobs/new">Add a new job</a>
</nav>
</header>
<%= yield %>

</body>
</html>