<h2>Login Here </h2>
<form action="/users/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Login</button>
</form>
<small>Need an account?</small><a href="/users/register">Sign Up here</a>