
<h2>Add new job here</h2>
<form action="/jobs" method="POST" >
<label for="comapany">Company</label>
<input type="text" name="company"/>
<br>
<label for="title">Title</label>
<input type="text" name="title"/>
<br>
<label for="description">Description</label>
<textarea type="text" name="description" rows="5"></textarea>
<br>
<label >Date:</label>
        <input type="date"  name="date" value="<%= Date.today %> "min="<%= Date.today %> %" max="2022-12-31" required>
<br>
<input type="submit"/>

</form>